<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initMap" async defer></script>
    <script src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Dashboard</h1>
    <a href="/logout">Log Out</a>
    <div id="map-container">
        <div id="map" style="height: 500px; width: 70%; float: left;"></div>
        <div id="places-list" style="height: 500px; width: 30%; float: left; overflow-y: scroll; padding: 10px; border: 1px solid #ccc;"></div>
    </div>
</body>
</html>
